ion-content {
    --ion-background-color: #FFFFFF;
    --ion-text-color: #000000;
}

ion-header {
    --ion-background-color: linear-gradient(#F8B400, #FFE300);
    --ion-text-color: #000000;
}

.cuadrado {
    height: 80px;
    width: 80px;
    background-color: #000000;
}

.grid {
    display: grid;
    place-items: center;
}

.grid__content {
    margin: auto;
}

.imagen {
    height: 200px;
    width: auto;
}

h3 {
    font-size: 30px;
}

.sacudida {
    transition: transform 0.3s;
}

.sacudida.active {
    animation: shake 0.4s;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}