#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

.botonleft {
    padding-left: 60px;
}

ion-content {
    --ion-background-color: #FFFFFF;
    --ion-text-color: #000000;
}

ion-header {
    --ion-background-color: linear-gradient(#F8B400, #FFE300);
    --ion-text-color: #000000;
}

.grid {
    display: grid;
    place-items: center;
}

.grid__content {
    width: 80px;
    margin: auto;
}

.grid__content2 {
    width: 120px;
    margin: auto;
}

.grid__content3 {
    width: 180px;
    margin: auto;
}

ion-card-content {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Texto oscuro */
    padding: 20px;
    text-align: justify; /* Justificar el texto */
    line-height: 1.5; /* Espaciado de línea */
}
  
  /* Estilo para los títulos */
ion-card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
  /* Estilo para los párrafos */
p {
    margin-bottom: 10px;
}
  
  /* Estilo para las imágenes (ajusta el tamaño según sea necesario) */
.img {
    max-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.translucent {
    opacity: 0.5; /* Cambia la opacidad para hacerlo transparente */
    pointer-events: none; /* Evita que el botón sea interactivo cuando está deshabilitado */
}
  
/* Clase de entrada */
.scanner-active-enter {
    animation: scannerEnterAnimation 0.5s ease-in-out;
  }
  
  /* Clase de salida */
  .scanner-active-exit {
    animation: scannerExitAnimation 0.5s ease-in-out;
  }
  
  /* Definición de animaciones */
  @keyframes scannerEnterAnimation {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes scannerExitAnimation {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  #qrCodeFrame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(255, 255, 255); /* Puedes personalizar el color y el grosor del borde */
    width: 300px; /* Ajusta según sea necesario */
    height: 300px; /* Ajusta según sea necesario */
    z-index: 9999; /* Asegura que el cuadro esté en la parte superior */
    display: none; /* Inicialmente oculto */
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Oculta el contenido que se sale del cuadro */
    border-radius: 8%;
    opacity: 80%;
   } 
   #qrMessage {
    color: white;
    text-align: center;
    margin-top: 10px;
    display: none; /* Inicialmente oculto */
  }
  #horizontalBar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff; /* Puedes personalizar el color de la barra */
    animation: moveUpDown 2s linear infinite; /* Duración, tipo de animación y repetición infinita */
  }

  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(150px); /* Ajusta la distancia de movimiento según sea necesario */
    }
    50% {
      transform: translateY(300px); /* Ajusta la distancia de movimiento según sea necesario */
    }
    75% {
      transform: translateY(150px); /* Ajusta la distancia de movimiento según sea necesario */
    }
    
  }

  



  
  